* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../images/pattern.jpg);
  margin: 0px 40px 0px 40px;
}

/* Title */
#top-section {
  font-family: 'Seymour One', sans-serif;
  width: 1200px;
  text-align: center;
  margin: 0px auto 60px auto;
}

#title {
  padding-bottom: 5px;
  font-size: 80px;
  text-shadow: 2px 2px yellow;
  text-align: center;
  background-color: orangered;
  width: 70%;
  margin: auto;
}

#back-gradiant {
  margin-top: 20px;
}

/* Center content */
#anyKeyDiv {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  width: 400px;
  height: 250px;
  left: 50%;
  margin-left: -200px;
  padding: 5px;
  background-color: orangered;
  clear: both;
  border: yellow 10px solid;
  border-radius: 5px;
  animation-name: press;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes press {
  0% {
    top: 45%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 45%;
  }
}

#anyKey {
  font-size: 50px;
  text-align: center;
}

#arrayDiv {
  float: right;
  position: relative;
  width: 50%;
  height: 350px;
}

#showArray {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Permanent Marker', cursive;
  width: 70%;
  background-color: palegoldenrod;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 5px 5px 5px 5px #333;
}

#imageDiv {
  width: 50%;
  height: 350px;
  float: left;
  text-align: center;
}

#img {
  box-shadow: 5px 5px 5px 5px #333;
}

/* Bottom content */
#bottomLeft {
  font-family: 'Seymour One', sans-serif;
  float: left;
  background-color: palegoldenrod;
  width: 25%;
  font-size: 35px;
  clear: both;
  margin-left: 228px;
  margin-top: 60px;
  box-shadow: 5px 5px 5px 5px #333;
}

#bottomLeft p {
  margin-left: 20px;
}

#bottomRight {
  font-family: 'Seymour One', sans-serif;
  background-color: palegoldenrod;
  float: right;
  width: 30%;
  font-size: 35px;
  margin-right: 320px;
  margin-top: 60px;
  box-shadow: 5px 5px 5px 5px #333;
}

#bottomRight p {
  margin-left: 20px;
}
